<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>gabojait</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoopen</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access for taking photos</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Album permissions to get photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Pretendard-Bold.ttf</string>
		<string>Fonts/Pretendard-Light.ttf</string>
		<string>Fonts/Pretendard-Medium.ttf</string>
		<string>Fonts/Pretendard-SemiBold.ttf</string>
		<string>Fonts/AntDesign.ttf</string>
		<string>Fonts/Entypo.ttf</string>
		<string>Fonts/Evilcons.ttf</string>
		<string>Fonts/Feather.ttf</string>
		<string>Fonts/FontAwesome.ttf</string>
		<string>Fonts/FontAwesome5_Brands.ttf</string>
		<string>Fonts/FontAwesome5_Regular.ttf</string>
		<string>Fonts/FontAwesome5_Solid.ttf</string>
		<string>Fonts/Fontisto.ttf</string>
		<string>Fonts/Foundation.ttf</string>
		<string>Fonts/Ionicons.ttf</string>
		<string>Fonts/MaterialCommunityIcons.ttf</string>
		<string>Fonts/MaterialIcons.ttf</string>
		<string>Fonts/Octicons.ttf</string>
		<string>Fonts/SimpleLineIcons.ttf</string>
		<string>Fonts/Zocial.ttf</string>
		<string>Fonts/gabojait.ttf</string>
		<string>Fonts/heart_circled.ttf</string>
		<string>fontello.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
